body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
table{
    background-color: rgb(5, 10, 61);
    font-size: 15px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 20px;
    
}
img{
    width: 150px;
}